
 



.login .leftsidebar{

    width: 780px;
    min-height: 770px;
}



 .login .rightsidebar{

    width: 780px;
    min-height: 770px;
    background: #174778;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 83px;

 
    
}

.login .register{
    display:flex;
    background: #fff;

   
}

.login .leftsidebar .register h5 {
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
align-items: center;
margin-right: 12px;
color: #000000;
margin-top: 83px;
margin-bottom: 33px;
background: #fff;
}

.login .leftsidebar .register button{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
border: transparent;
color: #174778;
background-color: white;
cursor: pointer;
margin-top: 83px;
margin-bottom: 33px;
background-color: #fff;

}

.login .leftsidebar h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-top: 33px;
    margin-bottom: 17px;

}

.login .leftsidebar p {
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #595959;
min-height: 72px;
width: 409px;
margin: 0;
display: flex;
align-self: center;

}

.login .leftsidebar img {
    width: 210px;
    height: 88px;
    left: 330px;
    top: 541px;
    margin-top: 8px;
    margin-bottom: 33px;
    margin: auto;
    align-items: center;
    padding: 0;
    margin-left: 72px;
}
.login .leftsidebar .textfield input{
    width: 360px;
    min-height: 48px;
    border: 1px solid #C4C4C4; 
    border-radius: 5px;
    padding-left: 10px;


}

.login .leftsidebar .textfield label{
    position: relative;
    top: 12px;
    left: -351px;

    z-index: 99;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  

    
}
.login .textfield{
    display: flex;
    flex-direction: column;

}


::placeholder{
padding: 10px 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
background: transparent;

}

.leftsidebar .textfield svg{
    position: relative;
    font-size: 22px;
    color:#E5E5E5;
    top: -36px;
    left: 324px;
;

    

}


.form button{
    width: 370px;
    min-height: 48px;
    background: #174778;
    border-radius: 5px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 26px;
    cursor: pointer;


}
.leftsidebar h6{
font-family: 'Inter';

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
margin: auto;
width: 32%;

}

.last{
    margin: 0;
    margin-top: 26px;
    padding: 0;
  
}

.leftsidebar .last img{
   height: 23px !important;
   width: 23px!important;

   align-items: center;
   margin-right: 8px;
  
}

.leftsidebar .last .svg{
    height: 23px;
    width: 23px;
    align-items: center;
    margin-left: 8px;
    color: #3b5998 ;
}

.rightsidebar .review span{
    width: 32px;
    display: flex;
    /* flex-direction: column; */
    height: 329px;
    border-left:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF ;
    margin-left: 50px;
    margin-top: 212px;
    background: transparent;
    position: relative;
}
.rightsidebar .review{
    display: flex;
    margin-top: 50px
}

 .leftsidebar .pic{
    width: 210px ;
    height: 88px ;
    margin-left: 54px;
}

.rightsidebar .review h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
margin-top: 188px;
color: #FFFFFF;

}

.rightsidebar .message{
    position: relative;
    width: 300px;
    height: 178px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    top: 455px;
    left: -154px;
}

.review img{
 position: relative;
 width: 70px;
 min-height: 70px;
 padding: 19px;
 background-color: #174778;
 border-radius: 50%;
 top: 38px;
 left: -69px;

}


.review p{
    position: relative;
font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
/* or 171% */
color: #FFFFFF;
margin-left: 45px;
top: -72px;
left: 20px;
}

.review h5{
 position: relative;
 font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
top: -78px;
left: 64px;
margin: 0;
padding: 0;
}


.review h6{
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    color: #FFFFFF;
   top: -78px;
   left: 64px;
   margin: 0;
   padding: 0;
   }
   

.signinwith{
font-family: "Inter";
font-style: Regular;
font-size: 14px;
line-height: 24px;
line-height: 142%;
text-align: left;
color: #595959;
margin-left: 142px;
   }

   






